@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}

* {
    font-family: Poppins;
}

body {
    background: #080808;
}

.header {
    padding-top: 7%;
    color: white; 
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.quote-box {
    color: #cacaca;
    height: 200px;
    font-size: 30px;
    text-align: center;
}

.generate {
    text-align: center;
}


.generate-btn {
    font-size: 35px;
    height: 55px;
    position: absolute;
    width: 225px;
    color: white;
    border: 2px solid rgb(253, 203, 66);
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.25s;
    left: 50%; /* Center horizontally at 50% */
    transform: translateX(-50%); /* Move back by 50% of its own width */
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate-btn:hover {
    background-color: rgb(253, 203, 66);
}

@media only screen and (max-width: 600px) {
    .quote-box {
        font-size: 20px;

    }

    .generate-btn {
        margin-top: 50px;
        height: 30px;
        width: 120px;
        font-size: 20px;
    }

}